{{ "component-cart-notification.css" | asset_url | stylesheet_tag }}

<cart-notification>
<div id="cart-notification" class="cart-notification__wrapper cart-notification">
  <div class="cart-notification__header">
    {%- render 'icon-checklist' -%}
    <span>ADDED TO CART</span>
  </div>
  <div id="cart-notification-product"></div>
</div>
</cart-notification>
{% style %}
  .cart-notification {
     opacity: 0;
     pointer-events: none;
  }
{% endstyle %}
