<esq-product-form data-productid="{{product.id}}" class="esq-product-form">
  <esq-variant-selector class="esq-variant-selector">
    {%- for variant in product.variants -%}
      {%- if variant.title != "Default Title" -%}
        <span data-id="{{variant.id}}" class="variantSelector option-badge {% unless variant.available %}disabled{% endunless %} {% if variant.id == product.selected_or_first_available_variant.id %} selected {% endif %}">{{ variant.title }}</span>
      {%- endif -%}
    {%- endfor -%}
    <input id="variantField" type="hidden" name="" value="{{product.selected_or_first_available_variant.id}}">
  </esq-variant-selector>
  <button type="button" name="button" class="addToCartButton button button-primary">
    ADD TO CART
  </button>
</esq-product-form>
