<div class="container" style="background-color: #bebebe; padding: 2rem; margin: 2rem auto;">
  <h1>Buttons</h1>
  <h3>Base</h3>
  <a href="" class="button">
    <span>Button</span>
    {%- render 'icon-user' -%}
  </a>
  <h3>Default</h3>
  <a href="" class="button button-primary">
    <span>Primary</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-secondary">
    {%- render 'icon-remove' -%}
    <span>Secondary</span>
  </a>
  <a href="" class="button button-primary border">
    <span>Primary Border</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-secondary border">
    {%- render 'icon-remove' -%}
    <span>Secondary Border</span>
  </a>
  <a href="" class="button button-primary ghost">
    <span>Primary Ghost</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-secondary ghost">
    {%- render 'icon-remove' -%}
    <span>Secondary Ghost</span>
  </a>
  <h3>Inverted</h3>
  <a href="" class="button button-primary inverted">
    <span>Primary Inverted</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-secondary inverted">
    {%- render 'icon-remove' -%}
    <span>Secondary Inverted</span>
  </a>
  <a href="" class="button button-primary inverted border">
    <span>Primary Inverted Border</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-secondary inverted border">
    {%- render 'icon-remove' -%}
    <span>Secondary Inverted Border</span>
  </a>
  <a href="" class="button button-primary inverted ghost">
    <span>Primary Inverted Ghost</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-secondary inverted ghost">
    {%- render 'icon-remove' -%}
    <span>Secondary Inverted Ghost</span>
  </a>
  <h3>Sizes</h3>
  <a href="" class="button large button-primary">
    <span>Large</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-primary">
    {%- render 'icon-remove' -%}
    <span>Regular</span>
  </a>
  <a href="" class="button small button-primary">
    {%- render 'icon-remove' -%}
    <span>Small</span>
  </a>  <a href="" class="button large button-secondary">
      <span>Large</span>
      {%- render 'icon-cart' -%}
    </a>
    <a href="" class="button button-secondary">
      {%- render 'icon-remove' -%}
      <span>Regular</span>
    </a>
    <a href="" class="button small button-secondary">
      {%- render 'icon-remove' -%}
      <span>Small</span>
    </a>
  <h3>Rounded</h3>
  <a href="" class="button button-primary small rounded">
    <span>Primary</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-primary rounded">
    <span>Primary</span>
    {%- render 'icon-cart' -%}
  </a>
  <a href="" class="button button-primary large rounded">
    <span>Primary</span>
    {%- render 'icon-cart' -%}
  </a>
  <div class="container-narrow" style="padding: 2rem;">
    <h3>Full width</h3>
    <a href="" class="button button-primary full-width">
      <span>Primary Full Width</span>
      {%- render 'icon-cart' -%}
    </a>
  </div>
  <h3>Icon buttons</h3>
  <a href="" class="button button-primary large icon-only">
    {%- render 'icon-cart' -%}
  </a>
  <p>Large</p>
  <a href="" class="button button-primary icon-only">
    {%- render 'icon-cart' -%}
  </a>
  <p>Regular</p>
  <a href="" class="button button-primary small icon-only">
    {%- render 'icon-cart' -%}
  </a>
  <p>Small</p>
  <a href="" class="button button-primary large icon-only rounded">
    {%- render 'icon-cart' -%}
  </a>
  <p>Large Rounded</p>
  <a href="" class="button button-primary icon-only rounded">
    {%- render 'icon-cart' -%}
  </a>
  <p>Regular Rounded</p>
  <a href="" class="button button-primary small icon-only rounded">
    {%- render 'icon-cart' -%}
  </a>
  <p>Small Rounded</p>
  <h3>Disabled</h3>
  <a href="" class="button button-primary disabled">
    <span>Primary</span>
    {%- render 'icon-cart' -%}
  </a>
</div>

{% schema %}
{
  "name": "Components",
  "tag": "section",
  "class": "section-p"
}
{% endschema %}
