body,
html {
  margin: 0;
}

#overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-dark);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

html.esq-mini-cart-open,
html.esq-mobile-menu-open {
  overflow: hidden;
  /* pointer-events: none; */
}

@media screen and (min-width: 1024px) {
  html.esq-mini-cart-open #overlay {
    opacity: 0.65;
    pointer-events: auto;
  }

  html.esq-mobile-menu-open {
    overflow: auto;
  }
}

/* COLORS */
.color-heading {
  color: var(--color-text-heading) !important;
}

.color-body {
  color: var(--color-text-body) !important;
}

/* LAYOUT - Sections */

.section-p {
  padding-top: var(--padding-amount-mobile);
  padding-bottom: var(--padding-amount-mobile);
}

.section {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.first-section {
  margin-top: 4rem;
}

.section-pb {
  padding-bottom: var(--padding-amount-mobile);
}

.section-pt {
  padding-top: var(--padding-amount-mobile);
}

@media screen and (min-width: 768px) {
  .section-p {
    padding-top: var(--padding-amount-tablet);
    padding-bottom: var(--padding-amount-tablet);
  }

  .section-pb {
    padding-bottom: var(--padding-amount-tablet);
  }

  .section-pt {
    padding-top: var(--padding-amount-tablet);
  }
}

@media screen and (min-width: 1024px) {
  .first-section {
    margin-top: 4.2rem;
  }
}

@media screen and (min-width: 1366px) {
  .section-p {
    padding-top: var(--padding-amount-desktop);
    padding-bottom: var(--padding-amount-desktop);
  }

  .section-pb {
    padding-bottom: var(--padding-amount-desktop);
  }

  .section-pt {
    padding-top: var(--padding-amount-desktop);
  }
}

/* LAYOUT - Containers */

.container {
  max-width: var(--container-desktop-max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: var(--container-desktop-max-width);
  }
}

.container-slim {
  max-width: var(--container-slim-max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .container-slim {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .container-slim {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container-narrow {
  max-width: var(--container-narrow-max-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* TYPOGRAPHY */
html {
  font-size: 16px;
  font-family: var(--body-font), sans-serif;
  color: var(--color-text-heading);
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 0;
  color: var(--color-text-body);
}

a {
  color: var(--color-text-heading);
  text-decoration: none;
}

.p-large {
  font-size: 1.25rem;
}

.p-small {
  font-size: 0.75rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  font-family: var(--heading-font), sans-serif;
}

h1,
.h1 {
  font-size: 3.815rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h2,
.h2 {
  font-size: 3.052rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 500;
}

h3,
.h3 {
  font-size: 2.441rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h4,
.h4 {
  font-size: 1.953rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 400;
}

h5,
.h5 {
  font-size: 1.562rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h6,
.h6 {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1rem;
}

.section-title {
  margin-bottom: 2rem;
}

/* BUTTONS */
.button {
  background-color: transparent;
  border: 0px;
  padding: 0.75rem 1rem 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  --button-text-color: var(--color-text-heading);
  --svg-color: var(--button-text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.button > svg {
  width: 1.25rem;
  height: 1.25rem;
}

.button > svg:last-child {
  margin-left: 0.5rem;
}

.button > svg:first-child {
  margin-right: 0.5rem;
}

.button > svg:only-child {
  margin: 0;
}

.button.large {
  font-size: 1.25rem;
  padding: 1rem 1.25rem 1rem 1.25rem;
}

.button.large > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.button.large > svg:last-child {
  margin-left: 0.75rem;
}

.button.large > svg:first-child {
  margin-right: 0.75rem;
}

.button.large > svg:only-child {
  margin: 0;
}

.button.small {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.button.small > svg {
  width: 16px;
  height: 16px;
}

.button.small > svg:last-child {
  margin-left: 0.25rem;
}

.button.small > svg:first-child {
  margin-right: 0.25rem;
}

.button.small > svg:only-child {
  margin: 0;
}

.button.rounded {
  border-radius: 2rem;
}

.button.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.icon-only {
  padding: 0;
  height: 2.75rem;
  width: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.large.icon-only {
  height: 3.5rem;
  width: 3.5rem;
}

.button.small.icon-only {
  height: 2rem;
  width: 2rem;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-primary {
  --button-text-color: var(--color-btn-primary-text);
  --button-background-color: var(--color-btn-primary);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.button-secondary {
  --button-text-color: var(--color-btn-secondary-text);
  --button-background-color: var(--color-btn-secondary);
}

.button-primary:hover {
  --button-text-color: var(--color-btn-primary-text-hover);
  --button-background-color: var(--color-btn-primary-hover);
}

.button-secondary:hover {
  --button-text-color: var(--color-btn-secondary-text-hover);
  --button-background-color: var(--color-btn-secondary-hover);
}

.button-primary.disabled:hover {
  --button-text-color: var(--color-btn-primary-text);
  --button-background-color: var(--color-btn-primary);
}

.button-secondary.disabled:hover {
  --button-text-color: var(--color-btn-secondary-text);
  --button-background-color: var(--color-btn-secondary);
}

.button.border {
  background-color: transparent !important;
  border: 1px solid var(--button-background-color);
  color: var(--button-background-color);
  --svg-color: var(--button-background-color);
}

.button.ghost {
  --button-text-color: var(--button-background-color);
  background-color: transparent;
  border: 0px;
}

.button.inverted {
  background-color: var(--button-text-color);
  color: var(--button-background-color);
  border-color: var(--button-text-color);
  --svg-color: var(--button-background-color);
}

.button.inverted.border {
  color: var(--button-text-color);
  --svg-color: var(--button-text-color);
}

.button.button-primary.inverted.ghost {
  --button-text-color: var(--color-btn-primary-text);
  --svg-color: var(--button-text-color);
  color: var(--button-text-color);
  background-color: transparent;
  border: 0;
}

.button.button-secondary.inverted.ghost {
  --button-text-color: var(--color-btn-secondary-text);
  --svg-color: var(--button-text-color);
  color: var(--button-text-color);
  background-color: transparent;
  border: 0;
}

/* BADGES */
.esq-option-badge {
  font-size: 0.75rem;
  text-transform: uppercase;
  border: 1px solid var(--color-text-heading);
  color: var(--color-text-heading);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.esq-option-badge.selected {
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.esq-option-badge.disabled {
  border: 1px solid var(--color-text-body);
  color: var(--color-text-body);
  cursor: not-allowed;
}
/* PRICE */
.price {
  font-size: 1rem;
  font-weight: 800;
  color: var(--color-text-heading);
}

@media screen and (min-width: 1366px) {
  .price {
    font-size: 1.25rem;
  }
}

.price.vertical {
  display: flex;
  flex-direction: column;
}

.price-old {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text-body);
  text-decoration: line-through;
}

.price-new {
  color: var(--color-accent);
}

.price.small {
  font-size: 1rem;
}

.price.small > .price-old {
  font-size: 0.75rem;
}

/* UTILTIY */

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.visibility-hidden {
  visibility: hidden;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.hidden {
  display: none !important;
}

.hide-mobile {
  display: none !important;
}

.hide-desktop {
  display: block !important;
}

.hide-mobile-flex {
  display: none !important;
}

.hide-mobile-inline-flex {
  display: none !important;
}

.hide-desktop-flex {
  display: flex !important;
}

.hide-mobile-grid {
  display: none !important;
}

.hide-desktop-grid {
  display: grid !important;
}

@media screen and (min-width: 1024px) {
  .hide-mobile {
    display: block !important;
  }

  .hide-desktop {
    display: none !important;
  }

  .hide-mobile-flex {
    display: flex !important;
  }

  .hide-mobile-inline-flex {
    display: inline-flex !important;
  }

  .hide-desktop-flex {
    display: none !important;
  }

  .hide-mobile-grid {
    display: grid !important;
  }

  .hide-desktop-grid {
    display: none !important;
  }
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.cart-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

/* FORMS */
.form-button {
  border: 1px solid var(--color-text-body);
  padding: 0 0.5rem;
  border-width: 1px 1px 1px 0px;
}

.form-button > svg {
  --svg-color: var(--color-text-body);
}

.form__field {
  padding: 0.5rem 1rem;
  border-radius: 0;
  border: 1px solid var(--color-text-body);
  width: 100%;
}

.form__field:focus-visible {
  border-radius: 0;
  outline: none;
  border-color: var(--color-text-heading);
}

.form__field:focus-visible ~ .form-button {
  border-color: var(--color-text-heading);
}

.form__field:focus-visible ~ .form-button > svg {
  --svg-color: var(--color-text-heading);
}

.form-group__input-button {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}
