.product-card-detailed__image-wrap {
  display: block;
  overflow: hidden;
  position: relative;
}

.product-card-detailed__image-wrap:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.product-card-detailed__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: absolute;
}

.product-card-detailed__image-wrap:hover > .product-card-detailed__image {
  transform: scale(1.1);
}

.product-card-detailed__title {
  font-weight: bold;
  text-transform: uppercase;
}

.product-card-detailed.small .product-card-detailed__title {
  font-size: 1rem;
}

.product-card-detailed.small .price {
  font-size: 1rem;
  justify-self: flex-end;
  text-align: right;
}

.product-card-detailed.small .button {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.product-card-detailed__content-header {
  padding: 1rem 0 0rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card-detailed__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "options price" "actions actions";
}

.product-card-detailed__form .esq-product-form__actions {
  display: flex;
  grid-area: actions;
  padding-top: 1rem;
}

.product-card-detailed__form .esq-variant-selector__option-row {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0.5rem;
  justify-content: flex-start;
  margin-bottom: 0;
}

.product-card-detailed__form .esq-variant-selector__option-wrap {
  margin-top: 0.5rem;
}

.product-card-detailed__form .esq-product-form__actions {
  justify-content: flex-end;
}

.product-card-detailed__form .esq-product-form__actions.direct-checkout {
  justify-content: space-between;
}

.product-card-detailed__form .price {
  align-self: flex-end;
  justify-self: flex-end;
}
