.esq-product-card-minimal__image-wrap {
  position: relative;
  cursor: crosshair;
}

.esq-product-card-minimal > .esq-product-card-minimal__image-wrap:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.esq-product-card-minimal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.esq-product-card-minimal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.esq-product-card-minimal__overlay.large {
  padding: 4rem;
  justify-content: center;
}

.esq-product-card-minimal__overlay.regular {
  padding: 2rem 1rem;
}

.esq-product-card-minimal__overlay.small
  .esq-product-card-minimal__overlay-description,
.esq-product-card-minimal__overlay.regular
  .esq-product-card-minimal__overlay-description {
  display: none;
}

.esq-product-card-minimal__overlay.small
  .esq-product-card-minimal__overlay-actions-price {
  display: none;
}

.esq-product-card-minimal__overlay-title {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.esq-product-card-minimal__content {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esq-product-card-minimal__content > .price {
  text-align: right;
}

.esq-product-card-minimal__title {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-heading);
}

.esq-product-card-minimal__overlay.large
  .esq-product-card-minimal__overlay-line {
  height: 1px;
  background-color: var(--color-text-body);
  width: 50%;
  margin: 2rem 0;
  opacity: 0.65;
}

.esq-product-card-minimal__overlay.large
  .esq-product-card-minimal__overlay-form--actions {
  margin-top: 2rem;
  display: flex;
  align-items: space-between;
  grid-column-gap: 4rem;
}

.esq-product-card-minimal__title:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.esq-product-card-minimal.small .esq-product-card-minimal__title,
.esq-product-card-minimal.regular .esq-product-card-minimal__title,
.esq-product-card-minimal.large .esq-product-card-minimal__title {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .esq-product-card-minimal__overlay {
    display: flex;
  }

  .esq-product-card-minimal__image-wrap:hover
    > .esq-product-card-minimal__overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .esq-product-card-minimal__image {
    pointer-events: none;
  }
}

@media screen and (min-width: 1366px) {
  .esq-product-card-minimal__overlay.regular {
    padding: 3rem;
  }

  .esq-product-card-minimal__overlay.regular .esq-product-card-minimal__title,
  .esq-product-card-minimal.large .esq-product-card-minimal__title {
    font-size: 1.25rem;
  }

  .esq-product-card-minimal.regular
    .esq-product-card-minimal__overlay-description {
    display: block;
  }
}

@media screen and (min-width: 1536px) {
  .esq-product-card-minimal.regular > .esq-product-card-minimal__image-wrap {
    width: 100%;
  }

  .esq-product-card-minimal__overlay.regular {
    padding: 3rem;
    justify-content: center;
  }
}
