.navigation {
  background-color: var(--color-background-light);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.navigation-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navigation-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-icon__line {
  height: 2px;
  margin: 8px 0;
  width: 2rem;
  background-color: var(--color-background-dark);
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform-origin: left center;
  transform: rotateZ(0deg) translateY(0px) translateX(0px);
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-self: center;
}

.logo-mobile {
  width: 75px;
  height: auto;
}

.logo-desktop {
  width: 85px;
  height: auto;
}

.primary-menu {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-self: center;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-heading);
}

.nav-link-wrap {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-link-wrap.active > .nav-link {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.nav-link-secondary {
  color: var(--color-text-heading);
  text-decoration: none;
  padding: 0.5rem 0rem;
  font-size: 0.75rem;
}

.nav-link-secondary.active {
  color: var(--color-text-heading);
  font-weight: 800;
}

.menu-actions {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.navigation-search {
  margin-right: 1rem;
}

.nav__search-form {
  width: 100%;
}

.esq-mini-cart-btn {
  position: relative;
}

.esq-mini-cart-btn > svg {
  --svg-color: var(--color-accent);
}

.esq-mini-cart-btn > svg:last-child {
  margin-left: 0;
}

.esq-cart-bubble {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background-color: white;
  color: white;
  background-color: var(--color-accent);
  font-size: 0.75rem;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

@media screen and (min-width: 1024px) {
  .navigation {
    position: static;
  }

  .navigation.fixed {
    position: fixed;
    z-index: 997;
  }

  .navigation-inner {
    grid-template-columns: 1fr auto 1fr;
    padding: 0;
  }

  .logo-wrap {
    justify-self: flex-start;
  }

  .nav-link:hover {
    opacity: 0.7;
  }
}
