.product-grid {
  --grid-gap: 2rem;
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
}

.product-grid.small {
  --grid-gap: 1rem;
}

.product-card-minimal .product-form {
  width: 100%;
}

.product-card-minimal__image-wrap {
  height: calc(100vw - 2rem);
  position: relative;
  cursor: crosshair;
}

.product-card-minimal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card-minimal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  display: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.product-card-minimal__overlay.regular {
  padding: 2rem 1rem;
}

.product-card-minimal__overlay.large {
  padding: 4rem;
  justify-content: center;
}

.product-card-minimal__overlay.small
  .product-card-minimal__overlay-title-description {
  display: none;
}

.product-card-minimal__overlay.small
  .product-card-minimal__overlay-actions-price {
  display: none;
}

.product-card-minimal__overlay-form {
  width: 100%;
}

.product-card-minimal__overlay-title {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.product-card-minimal__overlay-options {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  grid-column-gap: 0.5rem;
  padding: 0.5rem 0;
}

.product-card-minimal__overlay.small .product-card-minimal__overlay-options {
  margin-top: 0;
}

.product-card-minimal__overlay-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}

.product-card-minimal__overlay.small .product-card-minimal__overlay-actions {
  margin-top: 0;
}

.product-card-minimal__overlay-actions.vertical {
  flex-direction: column;
  grid-row-gap: 1rem;
}

.product-card-minimal__overlay.small .product-card-minimal__overlay-actions {
  flex-direction: column;
  grid-row-gap: 0.5rem;
}

.product-card-minimal__content {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card-minimal__content > .price {
  text-align: right;
}

.product-card-minimal__title {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-heading);
}

.product-card-minimal__title:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.product-card-minimal.small .product-card-minimal__title,
.product-card-minimal.regular .product-card-minimal__title,
.product-card-minimal.large .product-card-minimal__title {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .product-grid.regular,
  .product-grid.small {
    grid-template-columns: 1fr 1fr;
  }
  .product-card-minimal.regular > .product-card-minimal__image-wrap,
  .product-card-minimal.small > .product-card-minimal__image-wrap {
    height: calc((768px - (var(--grid-gap) * 1)) / 3);
  }
}

@media screen and (min-width: 1024px) {
  .product-grid.large {
    grid-template-columns: 1fr 1fr;
  }

  .product-grid.regular {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-grid.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-card-minimal.large > .product-card-minimal__image-wrap {
    height: calc((1024px - (var(--grid-gap) * 1)) / 2);
  }

  .product-card-minimal.regular > .product-card-minimal__image-wrap {
    height: calc((1024px - (var(--grid-gap) * 2)) / 3);
  }

  .product-card-minimal.small > .product-card-minimal__image-wrap {
    height: calc((1024px - (var(--grid-gap) * 3)) / 4);
  }

  .product-card-minimal__overlay {
    display: flex;
  }

  .product-card-minimal__overlay.open {
    opacity: 1;
    pointer-events: auto;
  }

  .product-card-minimal__image {
    pointer-events: none;
  }
}

@media screen and (min-width: 1366px) {
  .product-card-minimal.large > .product-card-minimal__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 1)) / 2
    );
  }

  .product-card-minimal.regular > .product-card-minimal__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 2)) / 3
    );
  }

  .product-card-minimal.small > .product-card-minimal__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 3)) / 4
    );
  }

  .product-card-minimal__overlay.regular {
    padding: 2rem;
  }

  .product-card-minimal__overlay.regular .product-card-minimal__title,
  .product-card-minimal.large .product-card-minimal__title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1536px) {
  .product-card-minimal.large > .product-card-minimal__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 1)) / 2
    );
  }

  .product-card-minimal.regular > .product-card-minimal__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 2)) / 3
    );
  }

  .product-card-minimal.small > .product-card-minimal__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 3)) / 4
    );
  }

  .product-card-minimal__overlay.regular {
    padding: 4rem;
    justify-content: center;
  }
}
