.cart__grid {
  display: grid;
  grid-column-gap: 3rem;
  position: relative;
}

.cart__totals {
  margin-top: 1rem;
  align-self: end;
}

.cart__items {
  transition: opacity 0.5s ease;
}

.cart__items > .js-contents {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
}

.cart__items--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.cart__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.cart__item-img-wrap {
  width: 80px;
  height: 100%;
}

.cart__item-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart__item-content {
}

.cart__item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart__item-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single-option .cart__item-column:nth-child(1) {
  justify-content: flex-end;
}

.single-option .cart__item-column:nth-child(2) {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: flex-start;
}

.single-option .cart__item-column:nth-child(1) {
  grid-column-start: 2;
  justify-self: flex-end;
}

.cart__item-column:nth-child(1) {
  justify-content: space-between;
}

.cart__item-column:nth-child(2) {
  grid-row-gap: 0.5rem;
  justify-content: space-between;
}

.cart__item-column:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  width: 100%;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.cart__item-column:nth-child(2),
.cart__item-column:nth-child(3) {
  justify-self: self-end;
}

.cart__item-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cart__item-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart__item-options > .option-badge {
  cursor: default;
  margin-top: 0.25rem;
}

.cart__item-quantity-input {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 0.5rem;
  margin-top: 0.25rem;
}

.cart__item-quantity-input-btn {
  font-size: 0.75rem;
  border: 1px solid var(--color-text-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
}

.quantity-badge {
  border-radius: 0;
  font-weight: bold;
  border-color: var(--color-accent);
  color: var(--color-accent);
  cursor: default;
  max-width: 2rem;
}

.cart__item-remove-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--color-danger);
  grid-column-gap: 0.25rem;
  padding-top: 0.5rem;
  cursor: pointer;
}

.cart__item-remove-btn > span {
  position: relative;
  top: 1px;
}

.cart__item-remove-btn > svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-danger);
}

.cart__item-in-stock {
  color: var(--color-success);
}

.cart__item-out-stock {
  color: var(--color-danger);
}

.cart__item-single-price {
  color: var(--color-text-body);
}

.cart__item-single-price > .price-old {
  font-size: 0.75rem;
}

.cart__item-line-price {
  font-weight: 800;
}

.cart__totals-price {
  margin-bottom: 2rem;
}

.cart__subtotal {
  font-weight: 800;
  color: var(--color-accent);
}

.cart__totals-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  grid-row-gap: 1rem;
}

.cart__empty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  grid-row-gap: 2rem;
}

.cart__delivery-rate-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-weight: 800;
}

.cartItemsContainer {
  transition: opacity 0.3s ease;
}

.cartItemsContainer.loading {
  opacity: 0.5 !important;
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (min-width: 1024px) {
  .cart__grid {
    grid-template-columns: 1.75fr 1fr;
  }

  .cart__totals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }

  .cart__item {
    grid-template-columns: 120px 1fr;
    padding: 1rem;
    border: 1px solid var(--color-text-body);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .cart__item-img-wrap {
    width: 120px;
  }

  .cart__item-grid {
    grid-template-columns: 0.75fr 1fr 1fr;
  }

  .single-option .cart__item-column:nth-child(1) {
    justify-self: flex-start;
  }

  .cart__item-column:nth-child(2) {
    justify-content: space-between;
    justify-self: start;
    grid-row-gap: 1rem;
  }

  .cart__item-column:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: auto;
    grid-row-start: 1;
    width: auto;
    flex-direction: column;
    margin-top: 0;
    justify-content: flex-end;
    justify-self: self-end;
    align-items: flex-end;
    grid-row-gap: 0.5rem;
  }

  .cart__item-title {
    font-size: 1.2rem;
  }

  .cart__item-line-price {
    font-size: 1.2rem;
  }
}

/* ESQ MINI CART */
.esq-mini-cart {
  position: fixed;
  right: -100vw;
  pointer-events: none;
  bottom: 0;
  top: 64px;
  width: calc(100vw - 2rem);
  background-color: var(--color-background-light);
  z-index: 998;
  padding: 4rem 1rem 2rem 1rem;
  display: grid;
  grid-template-rows: 60px auto auto;
  transition: right 0.5s ease, opacity 0.5s ease;
}

.esq-mini-cart.open {
  right: 0%;
  opacity: 1;
  pointer-events: auto;
}

.esq-mini-cart * {
  opacity: 0;
  transition: opacity 0.5s ease 0.2s;
}

.esq-mini-cart.open * {
  opacity: 1;
}

.esq-mini-cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.esq-mini-cart > .cart__totals {
  margin-top: 1rem;
}

.esq-mini-cart__items {
  overflow: auto;
}

.esq-mini-cart__items {
  /* Foreground, Background */
  scrollbar-color: var(--color-background-dark) var(--color-background-light);
}

.esq-mini-cart__items::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.esq-mini-cart__items::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--color-background-dark);
  border-radius: 1rem;
}
.esq-mini-cart__items::-webkit-scrollbar-track {
  /* Background */
  background: var(--color-background-light);
}

.esq-mini-cart__items > .cart__items {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  margin-right: 0.5rem;
}

.esq-mini-cart .cart__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.esq-mini-cart .cart__item-grid {
  grid-template-columns: 1fr 1fr;
}

.esq-mini-cart .cart__item-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.esq-mini-cart .cart__item-line-price {
  font-size: 1rem;
}

.esq-mini-cart .cart__item-img-wrap {
  width: 80px;
  height: 100%;
}

.esq-mini-cart .cart__item-options {
  margin-bottom: 0;
}

.esq-mini-cart .single-option .cart__item-column:nth-child(1) {
  justify-self: flex-end;
}

.esq-mini-cart .single-option .cart__item-column:nth-child(2) {
  justify-self: flex-start;
}

.esq-mini-cart .cart__item-column:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  width: 100%;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: space-between;
}

.esq-mini-cart .cart__item-column:nth-child(2) {
  justify-content: space-between;
}

.esq-mini-cart .cart__item-column:nth-child(2),
.esq-mini-cart .cart__item-column:nth-child(3) {
  justify-self: self-end;
}

.esq-mini-cart__empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 2rem;
}

.esq-mini-cart__empty-state > img {
  width: 100%;
  max-width: 350px;
}

.esq-mini-cart__empty-state-text {
  text-align: center;
}

.esq-mini-cart__empty-state-text > p {
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  .esq-mini-cart {
    width: 40vw;
    right: calc(-40vw - 2rem);
    z-index: 999;
    top: 0;
  }
}

@media screen and (min-width: 1366px) {
  .esq-mini-cart {
    width: 30vw;
    right: calc(-30vw - 2rem);
  }
}

@media screen and (min-width: 1536px) {
  .esq-mini-cart {
    padding: 4rem 2rem 2rem 2rem;
  }
}
