.navigation {
  background-color: var(--color-background-light);
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.navigation-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.primary-menu {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-self: center;
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text-heading);
}

.nav-link-wrap {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-link__line {
  height: 1.5px;
  width: calc(100% - 2rem);
  background-color: var(--color-text-heading);
  display: none;
  position: absolute;
  bottom: 1px;
}

.nav-link-wrap.active > .nav-link__line {
  display: block;
}

.menu-actions {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}

.menu-dropdown {
  border-width: 1px 0px 0px 0px;
  border-color: var(--color-text-body);
  border-style: solid;
  padding: 2rem 0rem;
  display: none;
}

.menu-dropdown-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.submenu {
  display: flex;
  flex-direction: column;
}

.submenu > .nav-link {
  margin-bottom: 1rem;
}

.nav-link-secondary {
  color: var(--color-text-body);
  text-decoration: none;
  padding: 0.5rem 0rem;
  font-size: 0.75rem;
}

.nav-link-secondary.active {
  color: var(--color-text-heading);
  font-weight: 800;
}
