.product-grid {
  --grid-gap: 2rem;
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
}

.product-grid.small {
  --grid-gap: 1.5rem;
}

.product-grid.large {
  --grid-gap: 2.5rem;
}

.esq-product-form {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1.5rem;
  padding: 2rem 0rem;
}

.esq-product-form__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 1rem;
}

.esq-product-form__actions.justify-center {
  justify-content: center;
}

.esq-variant-selector {
  display: flex;
  flex-direction: row;
  grid-column-gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product-grid.regular,
  .product-grid.small {
    grid-template-columns: 1fr 1fr;
  }

  .product-card.regular > .product-card__image-wrap,
  .product-card.small > .product-card__image-wrap {
    height: calc((768px - (var(--grid-gap) * 1)) / 3);
  }
}

@media screen and (min-width: 1024px) {
  .product-card.large > .product-card__image-wrap {
    height: calc((1024px - (var(--grid-gap) * 1)) / 2);
  }

  .product-card.regular > .product-card__image-wrap,
  .product-card.small > .product-card__image-wrap {
    height: calc((1024px - (var(--grid-gap) * 2)) / 3);
  }

  .product-grid.large {
    grid-template-columns: 1fr 1fr;
  }

  .product-grid.regular {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-grid.small {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1366px) {
  .product-card.large > .product-card__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 1)) / 2
    );
  }

  .product-card.regular > .product-card__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 2)) / 3
    );
  }

  .product-card.small > .product-card__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 3)) / 4
    );
  }

  .product-card__overlay.regular {
    padding: 2rem;
  }

  .product-card__overlay.regular .product-card__title,
  .product-card.large .product-card__title {
    font-size: 1.25rem;
  }

  .product-grid.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1536px) {
  .product-card.large > .product-card__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 1)) / 2
    );
  }

  .product-card.regular > .product-card__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 2)) / 3
    );
  }

  .product-card.small > .product-card__image-wrap {
    height: calc(
      (var(--container-desktop-max-width) - (var(--grid-gap) * 3)) / 4
    );
  }

  .product-card__overlay.regular {
    padding: 4rem;
    justify-content: center;
  }
}
