.product-grid {
  --grid-gap: 1rem;
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  transition: opacity 0.3s ease;
}

.product-grid.loading {
  opacity: 0;
  pointer-events: none;
}

.product-grid.small {
  --grid-gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product-grid.regular,
  .product-grid.small {
    grid-template-columns: 1fr 1fr;
  }
  .product-grid.large {
    --grid-gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .product-grid.large {
    grid-template-columns: 1fr 1fr;
  }

  .product-grid.regular {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-grid.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1366px) {
  .product-grid.small {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-grid.small {
    --grid-gap: 1rem;
  }

  .product-grid.regular {
    --grid-gap: 2rem;
  }

  .product-grid.large {
    --grid-gap: 3rem;
  }
}

@media screen and (min-width: 1536px) {
  .product-grid.large {
    --grid-gap: 4rem;
  }
}
